/* ---------------- Start Settings Font Selection ------------  */

.font-selection-wrap {
    display: flex;
    justify-content: center;
    padding: 15px 0 5px 0;
    max-width: 50%;
  }
  
  .settings-font-selection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    width: 100%;
  }

  .font-checkbox-bg {
    border-radius: 50%;
    background: #EFF1FA;
    display: block;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    /* Distance between buttons */
    margin: 0.6em;
    position: relative;
    text-align: center;
    /* Line height should be the same as width and height */
    line-height: 2.5rem;
    cursor: pointer;
  }

  .font-checkbox-bg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox and because of relative positioning having moved it down the size of its height of 2.5rem, we move it back up via top: 2.5rem; which is again its height */
.checkmark {
    position: relative;
    top: -2.5rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    background: transparent;
    background-color: transparent;
    transition-duration: 0.5s;
    color: transparent;
  }
  
  .font-checkbox-bg input:checked ~ .checkmark {
    height: 2.5rem;
    width: 2.5rem;
    background: #161932;
    color: #EFF1FA;
  }
  
  /* .checkmark:after {
    content: "";
    position: absolute;
    opacity: 0;
  } */

  /* START: Expanding Circle for Input Label Background */
  .font-checkbox-bg:hover {
    border-radius: 50%;
    background: #EFF1FA;
    }
     
    .font-checkbox-bg:hover::before {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      box-shadow: 0 0 0 1rem #EFF1FA;
    }
    
    .font-checkbox-bg:hover::before {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 50%;
      box-shadow: 0 0 0 0.1rem #EFF1FA;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }
  /* END: Expanding Circle for Input Label Background */

  
  /* ---------------- End Settings Font Selection ------------  */







  /* -------------- START Settings Color Selection  ---------------- */

  .color-selection-wrap {
    display: flex;
    justify-content: center;
    padding: 15px 0 5px 0;
    max-width: 50%;
  }
  
  .settings-color-selection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    width: 100%;
  }

  .color-checkbox-bg {
    border-radius: 50%;
    display: block;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    /* Distance between buttons */
    margin: 0.6em;
    position: relative;
    text-align: center;
    /* Line height should be the same as width and height */
    line-height: 2.5rem;
    cursor: pointer;
  }

  .orange-bg-F87070 {
    background: #F87070;
  }

  .blue-bg-70F3F8 {
    background: #70F3F8;
  }

  .purple-bg-D881F8 {
    background: #D881F8;
  }

  .color-checkbox-bg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox and because of relative positioning having moved it down the size of its height of 2.5rem, we move it back up via top: 2.5rem; which is again its height */

/* Checkmark Orange */
.checkmark-orange {
    position: relative;
    /* top: -0.5rem; */
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-orange {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Checkmark blue */
  .checkmark-blue {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-blue {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
  }

  /* Checkmark Purple */
  .checkmark-purple {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-purple {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* START: Expanding Circle for Input Label Background */
  .color-checkbox-bg:hover {
    border-radius: 50%;
    }
     
    .color-checkbox-bg:hover::before {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      box-shadow: 0 0 0 1rem #EFF1FA;
    }
    
    .color-checkbox-bg:hover::before {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 50%;
      box-shadow: 0 0 0 0.1rem #EFF1FA;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }

  /* -------------- END Settings Color Selection  ---------------- */


  