@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto+Slab:wght@400;700&family=Space+Mono:wght@400;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: var(--current-font);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*  --------- Main Styles ---------  */
/*   -------- Main Styles --------  */
/*    ------- Main Styles -------  */
/*     ------ Main Styles ------  */

:root {
  --kumbhsans-font: 'Kumbh Sans', sans-serif;
  --robotoslab-font: 'Roboto Slab', serif;
  --spacemono-font: 'Space Mono', monospace;

  --current-font: 'Space Mono', monospace;
  --current-color: #F87070;

  --orange-color: #F87070;
  --turquoise-color: #70F3F8;
  --pink-color: #D881F8;
}

body {
    font-family: var(--current-font);
    background: #1E213F;
    position: relative;
}

/* FONTS */

#space-mono,
#space-mono-font {
  font-family: var(--spacemono-font)
}

#roboto-slab,
#roboto-slab-font {
  font-family: var(--robotoslab-font)
}

#kumbh-sans,
#kumbh-sans-font {
  font-family: var(--kumbhsans-font)
}

button {
  background: none;
  border: none;
}

.main-wrap {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  padding-top: 6rem;
  padding-bottom: 6rem;
  transform: translate(-50%, -50%);
}

#pomodoro-h2 {
    margin: 0 auto;
    text-align: center;
    color: #D7E0FF;
    font-family: var(--current-font);
    font-size: 24px;
    margin-top: 2%;
}

  /* --------- START Break Buttons --------- */

  .break-window {
    display: flex;
    margin: 0 auto;
    margin-top: 3em;
    min-height: 63px;
    min-width: 327px;
    background: #161932;
    border-radius: 50px;
    position: relative;
    z-index: 0;
}

.break-btn-container {
  margin: 0 auto;
  min-width: 327px;
  padding-bottom: 0.3em;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  z-index: 0;
} 
    

.break-buttons {
  display: grid;
  place-items: center;
  height: 48px;
  width: 106px;
  color: #D7E0FF;
  opacity: 0.5;
}

.break-buttons:hover {
  opacity: 1;
}

  /* Checkmark Pomodoro */
  .pomodoro-btn-label {
    background: #161932;
    color: #D7E0FF;
    height: 48px;
    width: 106px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    font-family: var(--current-font);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .pomodoro-btn-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .pomodoro-btn-label:hover {
    color: #D7E0FF;
    opacity: 1;
  }
  
.pomodoro-radiocheck {
  position: relative;
  top: -2.95rem;
  height: 48px;
  width: 106px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50px;
  color: transparent;
  z-index: 1;
}

  .pomodoro-btn-label input:checked ~ .pomodoro-radiocheck {
    background: var(--current-color);
    color: #EFF1FA;
  }

    /* Checkmark short break */
    .shortbreak-btn-label {
    background: #161932;
    color: #D7E0FF;
    height: 48px;
    width: 106px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    font-family: var(--current-font);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .shortbreak-btn-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .shortbreak-btn-label:hover {
    color: #D7E0FF;
    opacity: 1;
  }
  
.shortbreak-radiocheck {
  position: relative;
  top: -2.95rem;
  height: 48px;
  width: 106px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50px;
  color: transparent;
  z-index: 2;
}

  .shortbreak-btn-label input:checked ~ .shortbreak-radiocheck {
    background: var(--current-color);
    color: #EFF1FA;
  }


      /* Checkmark long break */
      .longbreak-btn-label {
        background: #161932;
        color: #D7E0FF;
        height: 48px;
        width: 106px;
        /* margin-left: 25px; */
        margin-right: 0.3rem;
        border: none;
        border-radius: 50px;
        font-family: var(--current-font);
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
    
      .longbreak-btn-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    
      .longbreak-btn-label:hover {
        color: #D7E0FF;
        opacity: 1;
      }
      
    .longbreak-radiocheck {
      position: relative;
      top: -2.95rem;
      height: 48px;
      width: 106px;
      display: grid;
      place-items: center;
      border: none;
      border-radius: 50px;
      color: transparent;
      z-index: 2;
    }
    
      .longbreak-btn-label input:checked ~ .longbreak-radiocheck {
        background: var(--current-color);
        color: #EFF1FA;
        
      }
  

  /* --------- END Break Buttons --------- */


/* CLOCK CONTAINER AND CLOCK INNER PARTS */

.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    position: relative;
    z-index: 0;
}

#circle-768px {
  display: none;
}

#circle-non-mobile {
  display: none;
}


.circle {

    background: #1E213F;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(145deg, #1b1e39, #202343);
    box-shadow:  33px 33px 45px #141529,
             -33px -33px 45px #292d55;
    z-index: -1;

}


.inner-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #1E213F;
    box-shadow: inset 31px 31px 58px #14162b,
            inset -31px -31px 58px #282c53;
            z-index: 1;
    
}

.clock-dial-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock-dial {
    margin-top: 18px;
    width: 267.8px;
    height: 267.8px;
    border-radius: 50%;
    background: #161932;

}




/* ------- LOADER ------- */

.track {
    /* stroke: #161932; */
    fill: none;
}

.progress {
    height: 248px;
    width: 248px;
    fill: none;
    stroke: var(--current-color);
    stroke-width: 8;
    stroke-dasharray: 1002;
    stroke-dashoffset: 999;
    stroke-linecap: round;
    transform: translate(-9%, 75%) rotate(-90deg);
}


/* ------- CLOCK NUMBERS ------- */

#clock-numbers-el {
    z-index: 10;
    position: absolute;
    color: #D7E0FF;
    font-family: var(--current-font);
    font-size: 3.5rem;
}

#hours-lapsed-el {
  z-index: 10;
  position: absolute;
  color: #d7e0ff;
  font-family: var(--current-font);
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  top: 4.5rem;

}

.all-done{
  font-size: 2.7rem;
}

/* ------- BUTTON PAUSE AND RESTART ------- */

#btn-start {
    /* display: none; */
    position: absolute;
    /* margin-left: 25px; */
    margin: 0 auto;
    padding-left: 1.2em;
    background: none;
    border: none;
    color: #D7E0FF;
    font-family: var(--current-font);
    font-size: 28px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 12px;
    transform: translateY(55px);   
    cursor: pointer; 
}

#btn-start:hover {
  color: var(--current-color);
}

#btn-pause {
    display: none;
    position: absolute;
    margin-left: 15px;
    background: none;
    border: none;
    color: #D7E0FF;
    font-family: var(--current-font);
    font-size: 28px;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 12px;
    transform: translateY(55px);   
    cursor: pointer; 
}

#btn-pause:hover {
    color: var(--current-color);
}

#btn-clear {
  /* display: none; */
  position: absolute;
  /* margin-left: 25px; */
  margin: 0 auto;
  padding-left: 1.2em;
  background: none;
  border: none;
  color: #D7E0FF;
  opacity: 0.5;
  font-family: var(--current-font);
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 5px;
  transform: translateY(80px);   
  cursor: pointer; 
}

#btn-clear:hover {
  color: var(--current-color);
  opacity: 1;
}

/* -------------- SETTINGS GEAR BUTTON ------------- */

.settingsBtn {
  justify-content: center;
  margin: 0 auto;
  border: 1px dashed green;
}


.settingsGearBtn {
  opacity: 0.5;
  height: 40px;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 7rem;
  border: 1px solid blue;
}

.settingsGearBtn:hover {
  opacity: 1;
  cursor: pointer;
}

/* -------------- SETTINGS WINDOW ------------- */

.settings-window-hidden {
  visibility: hidden;
  /* display: none; */
}

.settings-window-visible {
 /* display: block; */
 visibility: visible;
} 


.settings-window-wrap {
  display: flex;
  margin: 0 auto;
  position: relative;
}

.settings-window {
  width: 327px;
  height: 549px;
  border-radius: 15px;
  background: #fff;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -105%);
  z-index: 1;
}


.settings-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(204, 204, 204, 0.7);
  justify-content: space-between;
}

.settings-h3 {
  font-family: var(--current-font);
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  color: #161932;
  padding: 20px 0 20px 30px;
}

/* #close-window-btn {
  background-image: url(images/X-close-window-btn.png);
  background-repeat: none;
  background-color: transparent;
  border: none;
  height: 14px;
  width: 14px;
  margin: 30px 30px 30px 30px;
  cursor: pointer;
} */

#close-window-btn {
  position: absolute;
  right: 30px;
  top: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
  cursor: pointer;
}

#close-window-btn:hover {
  opacity: 1;
}

#close-window-btn:before, #close-window-btn:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #161932;
}
#close-window-btn:before {
  transform: rotate(45deg);
}
#close-window-btn:after {
  transform: rotate(-45deg);
}

.settings-time-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 30px;
}



.settings-time-label {
  font-family: var(--current-font);
  font-size: 12px;
  font-weight: 700;
  color: #1E213F;
  opacity: 40%;
}

.time-h4 {
  text-align: center;
  font-family: var(--current-font);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 4.23px;
  padding: 10px 0 10px 0;
}

.devider-line {
  border-bottom: 1px solid rgb(204, 204, 204, 0.5);
  margin: 0 auto;
  padding: 10px 0;
  width: 85%;
}

/* ------------ Start Settings Font Selection ------------  */

.settings-font-selection {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
}

.font-checkbox-bg {
  border-radius: 50%;
  background: #EFF1FA;
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  /* Distance between buttons */
  margin: 0.6em;
  position: relative;
  text-align: center;
  /* Line height should be the same as width and height */
  line-height: 2.5rem;
  cursor: pointer;
}

.font-checkbox-bg input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox and because of relative positioning having moved it down the size of its height of 2.5rem, we move it back up via top: 2.5rem; which is again its height */
.checkmark {
  position: relative;
  top: -2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  background: transparent;
  background-color: transparent;
  transition-duration: 0.5s;
  color: transparent;
}

.font-checkbox-bg input:checked ~ .checkmark {
  height: 2.5rem;
  width: 2.5rem;
  background: #161932;
  color: #EFF1FA;
}

/* START: Expanding Circle for Input Label Background */
.font-checkbox-bg:hover {
  border-radius: 50%;
  background: #EFF1FA;
  }
   
  .font-checkbox-bg:hover::before {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 0 1rem #EFF1FA;
  }
  
  .font-checkbox-bg:hover::before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1rem #EFF1FA;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
/* END: Expanding Circle for Input Label Background */


/* ---------------- End Settings Font Selection ------------  */


/* -------------- START Settings Color Selection  ---------------- */
  
  .settings-color-selection {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 60%;
  }

  .color-checkbox-bg {
    border-radius: 50%;
    display: block;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    /* Distance between buttons */
    margin: 0.6em;
    position: relative;
    text-align: center;
    /* Line height should be the same as width and height */
    line-height: 2.5rem;
    cursor: pointer;
  }

  .orange-bg-F87070 {
    background: #F87070;
  }

  .blue-bg-70F3F8 {
    background: #70F3F8;
  }

  .purple-bg-D881F8 {
    background: #D881F8;
  }

  .color-checkbox-bg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox and because of relative positioning having moved it down the size of its height of 2.5rem, we move it back up via top: 2.5rem; which is again its height */

/* Checkmark Orange */
.checkmark-orange {
    position: relative;
    /* top: -0.5rem; */
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-orange {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Checkmark blue */
  .checkmark-blue {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-blue {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
  }

  /* Checkmark Purple */
  .checkmark-purple {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-purple {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* START: Expanding Circle for Input Label Background */
  .color-checkbox-bg:hover {
    border-radius: 50%;
    }
     
    .color-checkbox-bg:hover::before {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      box-shadow: 0 0 0 1rem #EFF1FA;
    }
    
    .color-checkbox-bg:hover::before {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 50%;
      box-shadow: 0 0 0 0.1rem #EFF1FA;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }

  /* -------------- END Settings Color Selection  ---------------- */

/* --------------- START Apply Settings Button -------------- */

.apply-settings-btn {
  display: flex;
  position: relative;
}

.apply-settings-btn button {
  width: 140px;
  height: 53px;
  background: var(--current-color);
  color: #fff;
  font-family: var(--current-font);
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 28%;
  transform: translateY(25%);
  cursor: pointer;
}

.apply-settings-btn button:hover {
  
  opacity: 0.96;

}


/* END Apply Settings Button  */


/* ------------------ INPUT ARROWS INSIDE THE TIME BOXES ------------------ */

/* input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
   cursor: pointer;

} */

input {
  width: 140px;
  height: 40;
  background: #EFF1FA;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: var(--current-font);
  font-size: 14px;
  
}


/* ---------------- MEDIA QUERIES for non mobile ----------------- */
/* ---------------- MEDIA QUERIES for non mobile ----------------- */
/* ---------------- MEDIA QUERIES for non mobile ----------------- */
/* ---------------- MEDIA QUERIES for non mobile ----------------- */
/* ---------------- MEDIA QUERIES for non mobile ----------------- */
/* ---------------- MEDIA QUERIES for non mobile ----------------- */

@media screen and (min-width: 768px)
  
 {

 .main-wrap {
  padding-top: 5rem;
  padding-bottom: 10rem;
 }

  #pomodoro-h2 {
    text-align: center;
    color: #D7E0FF;
    font-family: var(--current-font);
    font-size: 32px;
    margin-top: 5rem;
  }

  .settingsBtn {
    justify-content: center;
    margin: 0 auto;
    border: 1px dashed green;
  }
  

  .settingsGearBtn {
    opacity: 0.5;
    height: 50px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 7rem;
    border: 1px solid blue;
  }

  .settingsGearBtn:hover {
    opacity: 1;
    cursor: pointer;
  }


   /* --------- START Break Buttons --------- */

.break-window {
  display: flex;
  margin: 0 auto;
  margin-top: 3em;
  max-height: 63px;
  max-width: 373px;
  background: #161932;
  border-radius: 50px;
  position: relative;
  z-index: 2;
}

.break-btn-container {
  margin: 0 auto;
  max-height: 63px;
  max-width: 373px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  z-index: 2;
} 


  /* Checkmark Pomodoro */
.pomodoro-btn-label {
  background: #161932;
  color: rgba(215, 224, 255, 0.7);
  height: 48px;
  min-width: 120px;
  margin-left: 5px;
  /* border: 1px solid red; */
  border-radius: 50px;
  font-family: var(--current-font);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  }

.pomodoro-btn-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.pomodoro-btn-label:hover {
  background: #161932;
  color: rgba(215, 224, 255);
  /* height: 48px;
  width: 120px;
  margin-left: 5px; */
  /* border: none; */
  /* border: 1px solid rgb(1, 255, 115);
  border-radius: 50px;
  font-family: var(--current-font);
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1; */
}
  
.pomodoro-radiocheck {
  position: relative;
  top: -2.9rem;
  height: 48px;
  width: 120px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50px;
  color: transparent;
  z-index: 2;
}

  .pomodoro-btn-label input:checked ~ .pomodoro-radiocheck {
    background: var(--current-color);
    color: #EFF1FA;
    
  }

    /* Checkmark short break */
    .shortbreak-btn-label {
    background: #161932;
    color: #D7E0FF;
    height: 48px;
    width: 120px;
    margin-left: 5px;
    border: none;
    border-radius: 50px;
    font-family: var(--current-font);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
  }

  .shortbreak-btn-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .shortbreak-btn-label:hover {
    color: #D7E0FF;
    opacity: 1;
  }
  
.shortbreak-radiocheck {
  position: relative;
  top: -2.95rem;
  height: 48px;
  width: 120px;
  display: grid;
  place-items: center;
  border: none;
  border-radius: 50px;
  color: transparent;
  z-index: 2;
}

  .shortbreak-btn-label input:checked ~ .shortbreak-radiocheck {
    background: var(--current-color);
    color: #EFF1FA;
  }


      /* Checkmark long break */
      .longbreak-btn-label {
        background: #161932;
        color: #D7E0FF;
        height: 48px;
        width: 120px;
        /* margin-left: 25px; */
        margin-right: 0.3rem;
        border: none;
        border-radius: 50px;
        font-family: var(--current-font);
        font-size: 12px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        z-index: 1;
      }
    
      .longbreak-btn-label input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
      }
    
      .longbreak-btn-label:hover {
        color: #D7E0FF;
        opacity: 1;
      }
      
    .longbreak-radiocheck {
      position: relative;
      top: -2.95rem;
      height: 48px;
      width: 120px;
      display: grid;
      place-items: center;
      border: none;
      border-radius: 50px;
      color: transparent;
      z-index: 2;
    }
    
      .longbreak-btn-label input:checked ~ .longbreak-radiocheck {
        background: var(--current-color);
        color: #D7E0FF;
        
      }
  

  /* --------- END Break Buttons --------- */


/* ----------------- CLOCK STYLING --------------- */

.clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
  z-index: 1;
}

.circle {
  background: #1e213f;
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: linear-gradient(145deg, #1b1e39, #202343);
  box-shadow: 33px 33px 65px #141529, -33px -33px 65px #292d55;
}

.inner-circle {
  width: 410px;
  height: 410px;
  border-radius: 50%;
  background: #1e213f;
  box-shadow: inset 31px 31px 58px #14162b, inset -31px -31px 58px #282c53;
}

.clock-dial-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-dial {
  margin-top: 23px;
  width: 364px;
  height: 364px;
  border-radius: 50%;
  background: #161932;
}


#circle-non-mobile {
  display: block;
}

#circle-mobile {
  display: none;
}

/* ------- LOADER TRACK ------- */

.track {
  stroke: #161932;
  fill: none;
}

/* 16.71 is the 1 second interval */
#circle-non-mobile {
  height: 355px;
  width: 355px;
  fill: none;
  stroke: var(--current-color);
  stroke-width: 10;
  stroke-dasharray: 1002.6;
  stroke-dashoffset: 999;
  stroke-linecap: round;
  transform: translate(0.3%, 89%) rotate(-90deg);
}

/* ------- CLOCK NUMBERS ------- */

#clock-numbers-el {
  z-index: 10;
  position: absolute;
  margin: 0 auto;

  color: #d7e0ff;
  font-family: var(--current-font);
  font-size: 5.3rem;
  
}

.all-done{
  font-size: 4rem;
}


#hours-lapsed-el {
  z-index: 10;
  position: absolute;
  margin: 0 auto;

  color: #d7e0ff;
  font-family: var(--current-font);
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  top: 6rem;

}


/* ------- BUTTON PAUSE AND RESTART ------- */

#btn-start {
  display: block;
  position: absolute;
  /* margin-left: 25px; */
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  background: none;
  border: none;
  color: #d7e0ff;
  font-family: var(--current-font);
  /* font-size: 28px; */
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 12px;
  transform: translateY(75px);
  cursor: pointer;
}

#btn-start:hover {
  color: var(--current-color);
}

#btn-pause {
  display: none;
  position: absolute;
  /* margin-left: 25px; */
  margin: 0 auto;
  text-align: center;
  padding-left: 15px;
  background: none;
  border: none;
  color: #d7e0ff;
  font-family: var(--current-font);
  /* font-size: 28px; */
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 12px;
  transform: translateY(75px);
  cursor: pointer;
}

#btn-pause:hover {
  color: var(--current-color);

}

#btn-clear {
  /* display: none; */
  position: absolute;
  margin: 0 auto;
  background: none;
  border: none;
  color: #D7E0FF;
  opacity: 0.5;
  font-family: var(--current-font);
  font-weight: bold;
  font-size: 10px;
  letter-spacing: 5px;
  transform: translateY(103px);   
  cursor: pointer; 
}


/* ------------------- SETTINGS WINDOW STYLING -------------------- */

.settings-window-wrap {
  /* display: none; */
  /* visibility: hidden; */
  margin: 0 auto;
  position: relative;
  margin-top: 10rem;
  z-index: 2;
}

.settings-window-hidden {
   visibility: hidden;
   /* display: none; */
}

.settings-window-visible {
  /* display: block; */
  visibility: visible;
} 

.settings-window {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 540px;
  height: 464px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -170%);
  position: absolute;
  background: #fff;
  z-index: 4;
}

/* ---------------- Start Settings Window Header ------------  */

 .settings-header {
  display: flex;
  width: 100%;
  border-bottom: 1px solid rgb(204, 204, 204, 0.7);
  justify-content: space-between;
}

.settings-header h3 {
  font-family: var(--current-font);
  /* text-align: left; */
  font-size: 20px;
  font-weight: bold;
  color: #161932;
  padding: 20px 0px 30px 40px;
}

/* Close Settings Window Button */
#close-window-btn {
  margin-right: 10px;
  margin-top: 5px;
}


/* ---------------- End Settings Window Header ------------  */


.time-h4 {
  text-align: start;
  margin: 0 40px;
  font-size: 13px;
}





/* ---------------- Start Time Input Boxes ------------  */

.set-timings {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0 auto; */
}

.settings-time-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: -10px;
  justify-content: space-between;
}


.settings-time-label {
  margin-bottom: 10px;
}

.input-boxes {
  width: 140px;
  height: 48px;
}

#long-break-el {
  margin-right: 40px;
}

/* ---------------- End Time Input Boxes ------------  */

/* ---------------- Start Settings Font Selection ------------  */

.font-selection-wrap {
  display: flex;
  justify-content: center;
  padding: 15px 0 5px 0;
}

.settings-font-selection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 30px;
  width: 100%;
}

.font-checkbox-bg {
  border-radius: 50%;
  background: #EFF1FA;
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  /* Distance between buttons */
  margin: 0.6em;
  position: relative;
  text-align: center;
  /* Line height should be the same as width and height */
  line-height: 2.5rem;
  cursor: pointer;
}

.font-checkbox-bg input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox and because of relative positioning having moved it down the size of its height of 2.5rem, we move it back up via top: 2.5rem; which is again its height */
.checkmark {
  position: relative;
  top: -2.5rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  background: transparent;
  background-color: transparent;
  transition-duration: 0.5s;
  color: transparent;
}

.font-checkbox-bg input:checked ~ .checkmark {
  height: 2.5rem;
  width: 2.5rem;
  background: #161932;
  color: #EFF1FA;
}

/* .checkmark:after {
  content: "";
  position: absolute;
  opacity: 0;
} */

/* START: Expanding Circle for Input Label Background */
.font-checkbox-bg:hover {
  border-radius: 50%;
  background: #EFF1FA;
  }
   
  .font-checkbox-bg:hover::before {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    box-shadow: 0 0 0 1rem #EFF1FA;
  }
  
  .font-checkbox-bg:hover::before {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 50%;
    box-shadow: 0 0 0 0.1rem #EFF1FA;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
  }
/* END: Expanding Circle for Input Label Background */


/* ---------------- End Settings Font Selection ------------  */


  /* -------------- START Settings Color Selection  ---------------- */

  .color-selection-wrap {
    display: flex;
    justify-content: center;
    padding: 15px 0 5px 0;
  }
  
  .settings-color-selection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
    width: 100%;
  }

  .color-checkbox-bg {
    border-radius: 50%;
    display: block;
    font-size: 1rem;
    height: 2.5rem;
    width: 2.5rem;
    /* Distance between buttons */
    margin: 0.6em;
    position: relative;
    text-align: center;
    /* Line height should be the same as width and height */
    line-height: 2.5rem;
    cursor: pointer;
  }

  .orange-bg-F87070 {
    background: #F87070;
  }

  .blue-bg-70F3F8 {
    background: #70F3F8;
  }

  .purple-bg-D881F8 {
    background: #D881F8;
  }

  .color-checkbox-bg input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

/* Create a custom checkbox and because of relative positioning having moved it down the size of its height of 2.5rem, we move it back up via top: 2.5rem; which is again its height */

/* Checkmark Orange */
.checkmark-orange {
    position: relative;
    /* top: -0.5rem; */
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-orange {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Checkmark blue */
  .checkmark-blue {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-blue {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
  }

  /* Checkmark Purple */
  .checkmark-purple {
    position: relative;
    height: 2.5rem;
    width: 2.5rem;
    background: transparent;
    background-color: transparent;
    /* transition-duration: 0.5s; */
    color: transparent;
  }
  
  .color-checkbox-bg input:checked ~ .checkmark-purple {
    height: 2.5rem;
    width: 2.5rem;
    background-image: url(images/check-mark.png);
    background-position: center;
    background-repeat: no-repeat;
  }

  /* START: Expanding Circle for Input Label Background */
  .color-checkbox-bg:hover {
    border-radius: 50%;
    }
     
    .color-checkbox-bg:hover::before {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      box-shadow: 0 0 0 1rem #EFF1FA;
    }
    
    .color-checkbox-bg:hover::before {
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      transition: all 0.2s ease;
      border-radius: 50%;
      box-shadow: 0 0 0 0.1rem #EFF1FA;
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      top: 0;
    }

  /* -------------- END Settings Color Selection  ---------------- */


/* --------------- Start Apply Settings Button ------------------ */

.apply-settings-btn {
  display: flex;
  position: relative;
}

.apply-settings-btn button {
  width: 140px;
  height: 53px;
  background: var(--current-color);
  color: #fff;
  font-family: var(--current-font);
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 38%;
  transform: translateY(30%);
  cursor: pointer;
}

.apply-settings-btn button:hover {
  opacity: 0.96;
}

/* End Apply Settings Button  */

}
/* --------------------- End Media Quereis ------------------------ */

